<article>
  <h3><%= position.title %></h3>
  <%= image_tag("chair.png") %>
  <p><%= position.summary %></p>
  <p><%= link_to("read more", position_path(position), :class => 'read-more') %></p>
</article>

