
		<section id="main" role="main" class="grid_8 alpha">
      <%= link_to(image_tag("logo.png"), root_path) %>

      <h1><%= @position.title %></h1>
      <h2><%= @position.summary %></h2>
      <p><%= @position.description %></p>
			
			<a class="apply-button">
				<img src="/images/apply.png" alt="Apply now!">
			</a>
			
    </section>
		
